
body {
  font-family: Helvetica, sans-serif;
  text-align: center
}


a {
  color: white;
  font-size: 18px;

  }

h1{
  color: white;
  font-size: 70px;
  font-weight: bold;

}

h2 {
  font-size: 32px;
  font-weight: bold;
}

h3 {
  font-size: 23px;
  font-weight: bold;
}

h4 {
  font-size: 18px;
  color: white;
}

p {
  font-size: 14px;
}

#header,
#divider {
  background-image: url("../images/the-flatiron-building.png");
  background-repeat: no-repeat;
  background-position: center;
  width: 100%;
  height: auto;
  color: white;

}

.footer {
  display: block;
  font-size: 11px;
  color: white;
  background-color: dimgray;
  text-align: left;


}
#copy {
  font-size: 11px;
}
