
body {
  font-family: Helvetica, sans-serif;
  text-align: center;
}


a {
  color: white;
  font-size: 18px;
  }

h1{
  color: white;
  font-size: 70px;
  font-weight: bold;
}

h2 {
  font-size: 32px;
  font-weight: bold;
}

h3 {
  font-size: 23px;
  font-weight: bold;
}

h4 {
  font-size: 18px;
  color: white;
}

p {
  font-size: 14px;
}

.footer p {
    font-size: 11px;
}
/* copyright size issue FINALLY RESOLVED satisfactorily in CSS by simply re-instating p{} selector with value of 14px (for the majority of <p> elements on page.
Then adding a rule to copyright txt by selecting only p elements nested within (child of) .footer,and adding a value of 11px.
.footer p {
    font-size: 11px;

still Not sure why selector of tag <p> was overriding class .footer in a prev version(?)
Maybe i need to chain selectors?
Also it seems css selector <a> overrides tag <p> (in a previous version), not sure why(?) */


#header,
#divider {
  background-image: url("../images/the-flatiron-building.png");
  background-repeat: no-repeat;
  background-position: center;
  color: white;
  /*header image wrap issue resolved by using no-repeat, but is still not fullwidth - image is narrower than screen.
  tried width: 100% rule but made no difference
  (i want to avoid stretching or enlarging anyway.) */

}

.footer {
  font-size: 11px;
  color: white;
  background-color: dimgray;
  text-align: left;
}
